<!DOCTYPE html>
<html>
<p class="center">
    <a href="/"><img class="logo" src="/image/kau_logo_3.png" alt="Korea Ant Union"></a>
</p>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <table>
        <thead>
            <tr>
                <th>날짜</th><th>시작 예수금</th><th>시작 보유주식</th><th>시작 총자산</th><th>매수 주식</th><th>끝 보유주식</th><th>끝 총자산</th><th>당일 손익</th><th>입출금</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(datum){ %>
                <tr>
                    <td><%= moment(datum.date).format('YYYY-MM-DD') %></td><td><%= datum.start_money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td><td><%= datum.start_stock %></td><td><%= datum.start_total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td><td><%= datum.bought_stock %></td><td><%= datum.end_stock %></td><td><%= datum.end_total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td><td><%= datum.profit %>%</td><td><%= datum.deposit_withdrawal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</html>
